{% extends 'base/layout_bootstrap.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block container %}
  <h1>영어공부 Tools</h1>

  <hr/>
  영단어 시험 출제 가능

  <hr/>
  <ul>
    <li><a href="{% url 'main_home' %}">메인 홈</a></li>
    <li><a href="{{ base_google_sheet_url }}" target="_blank">단어 관리 (구글시트)</a></li>
    <li><a href="{% url 'english:word_list_1col' %}">전체 단어 목록 (1열)</a></li>
    <li><a href="{% url 'english:word_list_2col' %}">전체 단어 목록 (2열)</a></li>
    <li><a href="{% url 'english:generator' %}">단어시험 출제기</a></li>
    {# <li><a href="{% url 'english:pdf_download' %}">PDF</a></li>#}
  </ul>
{% endblock %}