# Directories
/static
logs/
venv/
uploads/
node_modules/



/tmp_files/
!/tmp_files/empty
/logs/
!/logs/empty


__pycache__
.pytest_cache/
.python-version

exid/settings/user/*
!exid/settings/user/__init__.py

.idea/
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml

tmp
!tmp/test.txt

# Celery
celerybeat-schedule.db
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule
celerybeat.pid

# Files
.DS_Store
*.log
*.log.*
*.pot
*.pyc
webpack-stats.json
package-lock.json
