# Directories
/static
logs/
venv/
uploads/
node_modules/
staticfiles/

/tmp_files/
!/tmp_files/empty
/logs/
!/logs/empty

/silvatools/settings/custom/
!/silvatools/settings/custom/__init__.py
/mysql
/rabbitmq

**/__pycache__/
.pytest_cache/
.python-version

exid/settings/custom/*
!exid/settings/custom/__init__.py

.idea/
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml

tmp
!tmp/test.txt

# Celery
celerybeat-schedule.db
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule
celerybeat.pid

# Files
.DS_Store
*.log
*.log.*
*.pot
*.pyc
webpack-stats.json
package-lock.json
